.content {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  animation: _rotate 2s ease-in-out infinite;
}

.circle {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4b9cdb;
  animation: bounce 2s linear infinite;
}

.circle:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes _rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}